<footer class="bg-dark text-white text-center py-4">
    <div class="container">
      <!-- Footer links -->
      <ul class="list-inline">
        <li class="list-inline-item">
          <a routerLink="/" class="text-white">Home</a>
        </li>
        <li class="list-inline-item">
          <a routerLink="/about" class="text-white">About</a>
        </li>
      </ul>
  
      <!-- Divider Line -->
      <hr class="footer-divider" />
  
      <!-- Copyright -->
      <p class="mb-0">&copy; 2024 Trading Moon. All rights reserved.</p>
    </div>
  </footer>